@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=Raleway:ital,wght@1,300&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  background-size: cover;
  color: whitesmoke;
  padding: 10px;
  background-image: linear-gradient(to right, #023e8a, #00b4d8);
}

.container {
  font-family: "Gothic A1", sans-serif;

  max-width: 700px;
  position: absolute;
  width: 100%;

  padding: 25px 30px;

  box-shadow: 1px saddlebrown;
  height: 450px;
  justify-content: flex-start;
}
.container .title {
  font-size: 50px;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}

.user-details {
  position: relative;
  margin-top: 20px;
}

.ip-display,
.location-display,
.geo-display,
.pincode-display,
.network-display {
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  background-color: whitesmoke;
  color: black;
}

.lookup-btn,
.reset-btn {
  height: 45px;
  width: 80px;
  background-color: white;
  border: none;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 10px;
  color: black;
  margin: 10px;
}

.lookup-btn,
.reset-btn:hover {
  cursor: pointer;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  margin: 45px 30px;
}

@media (max-width: 585px) {
  .container {
    width: 70%;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  .container form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 0;
  }
}
